button {
	padding: 5px 15px;
	color: teal;
	font-size: 14px;
	border: 1px solid teal;
	cursor: pointer;

	&:hover {
		cursor: pointer;
		color: white;
		background-color: teal;
		transition: all 0.5s;
	}
}
