@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$accent_color: #b53471;
$white_color: #f1e8e8;
$black_color: #1a0612;

$brown_color: #310c24;
$lightBrown_color: #511734;

$bx-accent: 0 4px 4px rgba($accent_color, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
