@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

// background-color
$additional_color: #eee;
$main_color: #1b191c;

// text-color
$additional_text_color: #1b191c;
$main_text_color: #eee;

// fonts
$size_text: 24px;
$default_font: 'Space Grotesk', sans-serif;

// size mobile version
$mobile: 320px